<div class="component-wrap">
	<div class="submit-wrap col-md-11">
		<div class="title-description">
			<h2>Cadastro de Usuário</h2>
			<p>Prencha todos os campos abaixo para cadastrar um novo Usuário.</p>
			<hr>
			</div>
			<form class="needs-validation" name="comunidadeform" (submit)="CadastrarUsuario()" novalidate>
				<div class="form-row">
					<div class="col-md-6 mb-3">
						<label for="role">Role</label>
						<select class="custom-select" id="role" [(ngModel)]="roleVisivel" 
          name="role" required>
							<option value="1">Líder</option>
							<option value="2">Gerente</option>
						</select>
					</div>
				</div>
				<div *ngIf="roleVisivel == 2">
            <div class="form-row">
								<div class="col-md-12 mb-3">
									<label for="nome">Nome completo</label>
									<input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome completo"
              [(ngModel)]="user.nome" required>
										<div class="valid-feedback">
              Ótimo!
            </div>
										<div class="invalid-feedback">
              Você precisa preencher o primeiro nome.
            </div>
									</div>
								</div>
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<label for="nome">Email de Usuário</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Digite o email do Usuário"
              [(ngModel)]="user.email" required>
								<div class="valid-feedback">
              Ótimo!
            </div>
								<div class="invalid-feedback">
              Você precisa preencher o email do Usuário.
            </div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12 mb-3">
								<label for="nome">Senha do Usuário</label>
								<input type="password" class="form-control" id="password" name="password"
              placeholder="Digite a Senha do Usuário" [(ngModel)]="user.senha" required>
									<div class="valid-feedback">
              Ótimo!
            </div>
									<div class="invalid-feedback">
              Você precisa preencher a senha do Usuário.
            </div>
								</div>
							</div>
						</div>
						<div *ngIf="roleVisivel == 1">
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<label for="nome">Nome completo</label>
									<input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome completo"
              [(ngModel)]="lider.nome" required>
										<div class="valid-feedback">
              Ótimo!
            </div>
										<div class="invalid-feedback">
              Você precisa preencher o primeiro nome.
            </div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-md-6 mb-3">
										<label for="email">E-mail</label>
										<input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail"
              [(ngModel)]="lider.email" required>
											<small id="emailHelpBlock" class="form-text text-muted">
                Utilize sempre o e-mail @ibm.com.
              </small>
											<div class="valid-feedback">
              Ótimo!
            </div>
											<div class="invalid-feedback">
              Você precisa preencher o e-mail.
            </div>
										</div>
										<div class="col-md-6 mb-3">
											<label for="idFuncional">Funcional</label>
											<input type="number" class="form-control" id="idFuncional" name="idFuncional" placeholder="Digite o funcional"
              [(ngModel)]="lider.idFuncional" required>
												<small id="funcionalHelpBlock" class="form-text text-muted">
                Use o código emitido pelo banco para este funcionário.
              </small>
												<div class="valid-feedback">
              Ótimo!
            </div>
												<div class="invalid-feedback">
              Você precisa preencher o funcional.
            </div>
											</div>
										</div>
									</div>
									<div class="btn-centerer">
										<button type="submit" class="btn btn-primary def-button">Cadastrar Usuário</button>
										<button type="reset" class="btn btn-primary clear-button">LIMPAR</button>
									</div>
								</form>
							</div>
						</div>