/* You can add global styles to this file, and also import other style files */

@import url(~node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(~node_modules/bootstrap/dist/css/bootstrap.css);

.cardc,
.cardc:after {
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    -moz-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
}
.cardc:hover, .card:focus, .card:focus-within {
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.def-button{
    margin: 0 0.5rem;
    background-image: linear-gradient(to top right, #F09819 0%, #FF512F 100%);
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    -moz-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
}
.def-button:hover{
    background-image: linear-gradient(to top left, #F09819 0%, #FF512F 100%);
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px 20px 0 rgba(244, 99, 51, 0.3), 0 10px 20px 0 rgba(244, 99, 51, 0.3);
    transform: scale(1.02);
}
.clear-button{
    margin: 0 0.5rem;
    background-image: linear-gradient(to top right, #ccc 0%, #aaa 100%);
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    -moz-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
}
.clear-button:hover{
    background-image: linear-gradient(to top left, #ccc 0%, #aaa 100%);
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
form button{
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: bold;
}
form input{
    border-radius: 100px;
}
